* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Disable scroll */
    font-size: 14px;
}
  .v3_368 {
    width: 100vw;
    height: 100vw;
    background: rgba(235,223,215,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v3_396 {
    width: 160px;
    height: 44px;
    background: url("../images/v3_396.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 23px;
    left: 1041px;
    overflow: hidden;
  }
  .v3_397 {
    width: 160px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v3_400 {
    width: 38px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 6px;
    left: 40px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_401 {
    width: 17px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 20px;
    left: 42px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 10px;
    opacity: 1;
    text-align: left;
  }
  .v3_383 {
    width: 326px;
    height: 590px;
    background: rgb(24, 24, 24);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
  }
  .v3_384 {
    width: 351px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 50px;
    left: 0px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .v3_385 {
    width: 80px;
    height: 107px;
    background: url("./images/v3_365.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 13px;
    overflow: hidden;
  }
  .v3_545 {
    width: 162px;
    height: 336px;
    background: url("../images/v3_545.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 127px;
    left: 82px;
    overflow: hidden;
  }
  .v3_546 {
    width: 162px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v3_547 a {
    width: 38px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 62px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none; /* Hapus garis bawah */
  }
  .name {
    color: #fff;
  }
  .v3_679 {
    width: 162px;
    height: 36px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v3_680 {
    width: 26px;
    height: 25px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 8px;
    overflow: hidden;
  }
  .v3_681 {
    width: 21px;
    height: 19px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
  }
  .v3_682 a {
    width: 118px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 34px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .v3_552 {
    width: 162px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v3_553 a {
    width: 63px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 50px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .name {
    color: #fff;
  }
  .v3_555 {
    width: 162px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .v3_556 a {
    width: 76px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 43px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .name {
    color: #fff;
  }
  .v3_558 {
    width: 162px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v3_560 a {
    width: 97px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 32px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .name {
    color: #fff;
  }
  .v3_562 {
    width: 162px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 240px;
    left: 0px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v3_564 a {
    width: 59px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 52px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .name {
    color: #fff;
  }
  .v3_583 {
    width: 159px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 71px;
    left: 351px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v3_587 {
    width: 848px;
    height: 106px;
    background: url("../images/v3_587.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 207px;
    left: 351px;
    overflow: hidden;
  }
  .v3_588 {
    width: 26px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 113px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_589 {
    width: 18px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 30px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_590 {
    width: 109px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 239px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_591 {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 448px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_592 {
    width: 76px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 669px;
    font-family: Montserrat;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v3_593 {
    width: 171px;
    height: 36px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 351px;
    border-top-left-radius: 164px;
    border-top-right-radius: 164px;
    border-bottom-left-radius: 164px;
    border-bottom-right-radius: 164px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v3_595 {
    width: 155px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 8px;
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }

  
  