* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v43_722 {
  width: 252px;
  height: 590px;
  background: rgba(6,6,6,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_723 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 39px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v43_724 {
  width: 198px;
  height: 279px;
  background: url("../images/v43_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 27px;
  overflow: hidden;
}
.v43_725 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v43_726 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v43_727 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_729 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v43_730 {
  width: 195px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v43_732 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_734 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 3px;
  overflow: hidden;
}
.v43_735 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v43_736 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_738 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 3px;
  overflow: hidden;
}
.v43_739 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v43_741 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_743 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 30px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v43_745 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v43_754 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 29px;
  overflow: hidden;
}
.v43_755 {
  width: 195px;
  height: 36px;
  background: url("../images/v43_755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v43_756 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 45px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_804 {
  width: 195px;
  height: 44px;
  background: url("../images/v43_804.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 30px;
  overflow: hidden;
}
.v43_805 {
  width: 195px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v43_807 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v43_808 {
  width: 40px;
  height: 33px;
  background: url("../images/v43_808.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  overflow: hidden;
}
