* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v61_1111 {
  width: 100%;
  height: 590px;
  background: rgba(235,223,215,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v61_1113 {
  width: 157px;
  height: 39px;
  background: url("../images/v61_1113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1004px;
  overflow: hidden;
}
.v61_1114 {
  width: 157px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v61_1117 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 40px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1118 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 40px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v61_1119 {
  width: 252px;
  height: 590px;
  background: rgba(6,6,6,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_1120 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 39px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v61_1121 {
  width: 198px;
  height: 279px;
  background: url("../images/v61_1121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 27px;
  overflow: hidden;
}
.v61_1122 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v61_1123 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v61_1124 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_1126 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v61_1127 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v61_1129 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_1131 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 3px;
  overflow: hidden;
}
.v61_1132 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v61_1133 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 39px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_1135 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 243px;
  left: 3px;
  overflow: hidden;
}
.v61_1136 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v61_1138 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_1140 {
  width: 195px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 30px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v61_1142 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 43px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v61_1145 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 29px;
  overflow: hidden;
}
.v61_1146 {
  width: 195px;
  height: 36px;
  background: url("../images/v61_1146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.v61_1147 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 45px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v61_1149 {
  width: 195px;
  height: 44px;
  background: url("../images/v61_1149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 27px;
  overflow: hidden;
}
.v61_1150 {
  width: 195px;
  height: 44px;
  background: url("../images/v61_1150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v61_1151 {
  width: 195px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v61_1153 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 43px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v61_1154 {
  width: 37px;
  height: 35px;
  background: url("../images/v61_1154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
  overflow: hidden;
}
.v61_1155 {
  width: 168px;
  height: 163px;
  background: url("../images/v61_1155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 230px;
  overflow: hidden;
}
.v61_1156 {
  width: 38px;
  height: 39px;
  background: url("../images/v61_1156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1169px;
  overflow: hidden;
}
.v61_1157 {
  width: 38px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v61_1160 {
  width: 351px;
  height: 351px;
  background: url("../images/v61_1160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 273px;
  overflow: hidden;
}
.v61_1161 {
  width: 534px;
  height: 321px;
  background: url("../images/v61_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 635px;
  overflow: hidden;
}
.v61_1162 {
  width: 534px;
  height: 321px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v61_1163 {
  width: 440px;
  height: 37px;
  background: url("../images/v61_1163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 51px;
  overflow: hidden;
}
.v61_1164 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1165 {
  width: 286px;
  height: 37px;
  background: url("../images/v61_1165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v61_1166 {
  width: 440px;
  height: 37px;
  background: url("../images/v61_1166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 51px;
  overflow: hidden;
}
.v61_1167 {
  width: 26px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1168 {
  width: 286px;
  height: 37px;
  background: url("../images/v61_1168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v61_1169 {
  width: 440px;
  height: 37px;
  background: url("../images/v61_1169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 51px;
  overflow: hidden;
}
.v61_1170 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1171 {
  width: 286px;
  height: 37px;
  background: url("../images/v61_1171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v61_1172 {
  width: 440px;
  height: 37px;
  background: url("../images/v61_1172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 50px;
  overflow: hidden;
}
.v61_1173 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1174 {
  width: 286px;
  height: 37px;
  background: url("../images/v61_1174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v61_1175 {
  width: 440px;
  height: 37px;
  background: url("../images/v61_1175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 51px;
  overflow: hidden;
}
.v61_1176 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v61_1177 {
  width: 286px;
  height: 37px;
  background: url("../images/v61_1177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 154px;
  border-top-left-radius: 52px;
  border-top-right-radius: 52px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
  overflow: hidden;
}
.v61_1178 {
  width: 338px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 274px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
